@font-face {
    font-family: 'Vela-Sans';
    src: url('fonts/velasans/VelaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vela-Sans';
    src: url('fonts/velasans/VelaSans-Medium.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Vela-Sans';
    src: url('fonts/velasans/VelaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT-Root-UI';
    src: url('fonts/pt_root_ui/PT\ Root\ UI_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT-Root-UI';
    src: url('fonts/pt_root_ui/PT\ Root\ UI_Medium.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Poe-Vetica-Monospace';
    src: url('fonts/poe-vetica-monospace/PoeVeticaMonospace-6B7Y.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    font-family: system-ui;
}

.center-title {
    justify-self: center;
}

.text-title {
    font-family: 'PT-Root-UI';
    font-size:smaller;
}

.warning-text {
    font-family: 'Vela-Sans';
    font-size: small;
    font-weight: 800;
    color: #333;
    background-color: #f5c25f;
    text-align: center;
    padding: 0.2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 1px;
    box-shadow: 0px 2px 4px #ccc;
}

.alert-text {
    font-family: 'Vela-Sans';
    font-size: small;
    font-weight: 800;
    color: #333;
    background-color: #ff6473;
    text-align: center;
    padding: 0.2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 1px;
    box-shadow: 0px 2px 4px #ccc;
    display: none;
}

.input-field {
    color: #888;
}

.overlay-box {
    border-radius: 8px;
}

.box-buttons {
    background-color: #fff;
}

.deactivated-button {
    opacity: 0.6;
    pointer-events: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2rem auto;
    column-gap: 0.2rem;
    row-gap: 0;
    height: 100%;
    width: 100%;
    padding-right: 3rem;
}

#menu-bar {
    display: grid;
    grid-auto-columns: 35% 30% 35%;
    grid-auto-flow: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0;
    margin: 0;
    font-family: 'PT-Root-UI';
}

#display-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#content-wrapper {
    display: grid;
    grid-auto-columns: 60% 0.15rem auto;
    grid-auto-rows: 70% 0.15rem auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#table-box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-rows: 1.5rem auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#table-buttons-wrapper {
    grid-row-start: 1;
    grid-row-end: 2;
}
#gpx-table-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    grid-row-start: 2;
    grid-row-end: 3;
}

#gpx-table {
    position: absolute;
    display: table;
    border-collapse: collapse;
    /*margin-left: 0.2rem;*/
    width: 100%;
    height: 100%;
}

#graph-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    overflow: hidden;
    display: grid;
    grid-auto-rows: 1;

    padding: 0.5rem;
}

#elevation-graph {
    overflow: hidden;
}

#elevation-graph div {
    font-family: 'PT-Root-UI';
    font-weight: normal;
    font-size:small;
}

#hor-content-separator {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #aaa;
    opacity: 1.0;
    cursor: ns-resize;
    overflow: visible;
    position: relative;
}
#hor-separator-hitbox {
    width: 100%;
    height: 500%;
    justify-content:center;
    align-items: center;
    background-color: red;
    z-index: 3;
    display: block;
    position: absolute;
    top: -200%;
    opacity: 0.0;
    left: 0;
}

#ver-content-separator {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #aaa;
    opacity: 1.0;
    cursor: ew-resize;
    overflow: visible;
    position: relative;
}

#ver-separator-hitbox {
    width: 500%;
    height: 100%;
    justify-content:center;
    align-items: center;
    background-color: red;
    z-index: 3;
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.0;
    left: -200%;
}

#map-box {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-auto-rows: 1.5rem auto;
}
#map-wrapper {
    position: relative;
    z-index: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: 2;
}
#map-overlay-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 3rem;
    background-color: white;
    z-index: 9;
    box-shadow: 0px 0px 5px #888;
    display: none;
}

#button-wrapper-footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
/*
#reload-tbl-btn {
    align-self: left;
}
*/

.col-title-left {
    text-align: left;
}

td {
    height: 1.8rem;
    font-family: 'PT-Root-UI';
    /*font-family: 'Noto-Mono';*/
    font-weight: normal;
    font-size: small;
    border-bottom: 1px solid #ddd;
    font-variant-numeric: tabular-nums lining-nums;
    text-align: right;
}

th {
    font-family: 'Vela-Sans';
    font-weight: bold;
    font-size:smaller;
    text-align: right;
    background-color: #d1d1d1;
    position: sticky;
    top: 0px;
}

tr {
    color: #111;
}

th, td {
    padding: 0.2rem;
    white-space: nowrap;
}

tr:nth-child(odd) td {
    border-left: 1px solid rgb(240, 240, 240);
}
tr:nth-child(even) td {
    border-left: 1px solid rgb(228, 228, 228);
}
/*
tr {
    border-left-width: 8px;
    border-left-style: inset;
    border-left-color:rgba(255, 255, 255, 0);
}*/
/*table td + td { border-left: 1px solid #ddd; }
table th + th { border-left: 1px solid #ddd; }*/
tr:nth-child(odd) { background-color: #fff; }
tr:nth-child(even) { background-color: #f2f2f2; }
/*.selected-row:nth-child(odd) { background-color: #f55; }
.selected-row:nth-child(even) { background-color: #f33; }*/

/*.selected-row:nth-child(odd) { background-color: rgb(194, 146, 213); }
.selected-row:nth-child(even) { background-color: rgb(170, 117, 190); }*/
.selected-row { 
    /*border-left-color: #9f2dcf;*/



    /*border-left-color: #9f2dcf;
    border-left-width: 8px;
    border-left-style: solid;*/

    /*color: #5e2677;*/
    color: #6f328b;
}

.selected-row td {
    font-family: 'PT-Root-UI';
    font-weight: bold;
    letter-spacing: -1px;
    /*background-color: #dfdfdf;*/
}

tbody tr:hover * {
    background-color: #e2e2e2;
    cursor: pointer;
    border-left: 1px solid #d9d9d9;
}

tbody .selected-row:hover * {
    /*background-color: #d22;
    background-color: rgb(160, 103, 181);*/
}

tbody tr:hover td {
    font-family: 'PT-Root-UI';
    font-weight: bold;
    letter-spacing: -1px;
}

* {
    user-select: none;
}

.track-icon {
    background-size: cover;
    cursor: pointer;
}

.map-position-icon {
    background-size: cover;
    z-index: 10;
}

#overlay {
    background-color: rgba(0,0,0,0.5);;
    display: none;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
#row-edit {
    width: 300px;
    height: 450px;
    background-color: #fff;
    padding: 1rem;
    display: none;
}
#track-note-edit {
    width: 80%;
    max-width: 1000px;
    height: 80%;
    background-color: #fff;
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
}
#edit-note-vbox {
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: auto 40% 2rem 2rem;
    justify-items: left;
    width: 100%;
    height: 100%;
    padding: 0.6rem;
    grid-gap: 0.2rem;
}
#edit-note-hbox {
    display: grid;
    grid-auto-columns: 50% auto;
    grid-auto-rows: 100%;
    width: 100%;
}
#comment-input-wrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2rem auto;
    justify-items: center;
}
#comment-input {
    padding-top: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 980px;
    height: 100%;
    border-color: #ccc;
    color: #111;
    resize: none;
    background: url('icons/notebook_copy_copy.png') repeat-y;
    background-attachment: local;
    border: none;
    font-size: 14px;
    line-height: 25px;
    padding: 6px 10px;
}
#comment-input:focus {
    outline: none;
}
#comment-input::first-line {
    font-weight: bold;
    font-size: 16px;
}
#loading-info {
    width: 180px;
    height: 25px;
    background-color: #fff;
    display: none;
    position: relative;
    border-radius: 5px;
}
#img-drop-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-inline: 0.4rem;
}
#img-drop {
    /*background-color: #333;*/
    /*background-image: url('Users/simonlaube/Downloads/IMG_2853.JPG');*/
    box-sizing: border-box;
    font-family: 'Vela-Sans';
    font-size: 30px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #888;
    border-style: dashed;
    border-width: 8px;
    border-radius: 8px;
    border-color: #888;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#img-drop:hover {
    color: #555;
}
#img-preview-wrapper {
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: repeat(50%);*/
    grid-auto-rows: 50%;
    grid-auto-flow: row;
    grid-gap: 0.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.img-preview:hover {
    border-width: 4px;
    border-style: none;
    border-color: #bc0000;
    cursor: pointer;
}

#note-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
#edit-note-buttons {
    box-sizing: border-box;
}

#loading-text {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-family: 'Vela-Sans';
    font-size: small;
    text-align: center;
}
#loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #c6ebc6;
    z-index: 5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.horizontal-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30% 70%;
}
#activity-form {
    display: block;
}
#activity-input {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    flex: 1;
    padding: 0 .5em;
    cursor:pointer;
    font-family: 'PT-Root-UI';
    color: #888;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 3;
 }

 .dygraph-legend {
    text-align: right;
  }
  .dygraph-legend:hover {
    display: none;
  }